<div id="rules-and-controls">
  <p>Zombie Asteroids</p>
  <p>[1] Kill space zombies, mine gold, and save the princess.</p>
  <p>[2] Use arrow keys to move, space to brake, and "q" to hard brake.</p>
  <p>[3] Press "w" to drop space mines (requires gold).</p>
  <small>
    <a href="mailto:james.a.baroi@gmail.com" target="_blank">james.a.baroi@gmail.com</a>
  </small>
</div>