<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script defer type="text/javascript" src="/js/main.js"></script>
  </head>
  <!-- Start game on landing -->
  <body onload="startGame()">
    <div id="canvas-container">{{{body}}}</div>
  </body>
</html>